<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='Hello'"></head>

<body>
<div th:replace="layout :: navbar">(navbar)</div>

<div class="container">
    <form class="navbar-form navbar-center" method="POST" enctype="multipart/form-data" action="/">
        <div class="form-group input-group">
            <input type="file" name="file" class="form-control"/>
            <span class="input-group-btn">
          <input type="submit" class="form-control" value="Upload"/>
        </span>
        </div>
    </form>
</div>
<footer class="container-fluid text-center">
    <p>Footer Text</p>
</footer>
</body>
</html>
